<!-- Default home page -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>

<div class="wrapper">

  <main id="maincontent">
    <section id="map-container">
      <div id="map" role="application" aria-label="map showing restaurants"></div>
    </section>
    <section>
      <div class="filter-options">
        <h2>Filter Results</h2>
        <label for="selectneighborhoods">Neighborhoods Filter</label>
        <select id="neighborhoods-select" name="neighborhoods" onchange="updateRestaurants()">
          <option value="all">All Neighborhoods</option>
        </select>
        <label for="selectcuisines">Cuisines Filter</label> 
        <select id="cuisines-select" name="cuisines" onchange="updateRestaurants()">
          <option value="all">All Cuisines</option>
        </select>
      </div>
      <ul id="restaurants-list">
      </ul>
    </section>

  </main>
  </div><!--end of wrapper-->
